[submodule "x-transformers"]
	path = x-transformers
	url = https://github.com/lucidrains/x-transformers/
[submodule "soundmaterial"]
	path = soundmaterial
	url = https://github.com/hugofloresgarcia/soundmaterial
	branch = main
[submodule "scripts/rf/rectified-flow-pytorch"]
	path = scripts/rf/rectified-flow-pytorch
	url = https://github.com/lucidrains/rectified-flow-pytorch/
