torch
argbind>=0.3.2
numpy==1.23
loralib
wavebeat @ git+https://github.com/hugofloresgarcia/wavebeat
lac @ git+https://github.com/hugofloresgarcia/lac.git
descript-audiotools @ git+https://github.com/hugofloresgarcia/audiotools.git
-e git+https://github.com/audacitorch/pyharp.git@develop#egg=pyharp
torch_pitch_shift
gradio
pydantic==2.10.6